mysql==0.0.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
numpy==1.22.2
pandas==1.5.0
pandoc==2.3
patsy==0.5.3
Pillow==9.2.0
pipreqs==0.4.11
plotly==5.10.0
plotly-express==0.4.1
plumbum==1.8.0
ply==3.11
streamlit==1.13.0
streamlit-lottie==0.0.3
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.2

